@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Manrope", sans-serif;
}

body{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
}

.container{
    max-width: 420px;
    width: 90%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

.poster img{
    width: 100%;
    margin-bottom: 20px;
}

.main-para{
    font-size: 25px;
    font-weight: 900px;
}
